body{ 
    text-align: center;
    padding: 0 37% 0 37%;
    background-color: pink;
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
div, h1:hover {
    color: black;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
h4{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color: white;
}
h5{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ol, li{
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left;
    color: black;
    }
h1.cool{
    font-family: "Times New Roman", Times, serif;
}
blockquote {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}